body{
    font-family:'Courier New', Courier, monospace
}

a{
    text-decoration: none;
    color:rgb(78, 78, 78);
}
header{
    display:flex;
    min-height: 40px;
    background-color: rgba(255, 255, 255, 0.986);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display:flex;
    align-items: center;
}

.logo img{
    height:30px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color:rgb(27, 8, 31);
}

@media (max-width:700px){
    header{flex-direction:column;
    }

    nav{
        padding:10px 0px;
    }
}


* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-image: url(img/Mesa\ de\ trabajo\ 1.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;  
}

.form-body {
    display:flow-root;
    width: 600px;
    min-width: 40px;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 70px;
    margin-top: 70px;
    margin-bottom: 20px;
    padding: 0px;
}

.text {
    text-align: center;
    font-size: 1.5ren;
    font-weight: 600;
    color:rgb(255, 255, 255);
    margin-bottom: 25px;
}

.form-body input {
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color:rgb(11, 49, 43);
    border: 1px solid white;
    border-radius: 2px;
    font-family:'Courier New', Courier, monospace;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    outline: none;
}

.form-body input[type="url"]{
    margin-top: 25px;
}

.form-body input[type="text"]{
    margin-top: 20px;
}

.form-body input[type="itext"]{
    margin-top: 20px;
    height: 170px;
}

.form-body input[type="email"]{
    margin-top: 20px;
}

::placeholder {
    font-size: 1rem;
    color: rgba(78, 80, 79, 0.952);
}

.form-body input:hover {
    transition: 0.5s;
    border: 1px solid rgb(133, 87, 126);
    color: rgb(43, 64, 68);
}

.form-body button {
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 40px;
    width: 27%;
    font-family: 'Courier New', Courier, monospace;
    background: rgb(62, 132, 134);
    color:rgba(255, 255, 255, 0.938);
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid rgb(1, 55, 65);
    transition: all 0.5s ease;
}

.form-body button:hover {
    color:rgb(255, 255, 255);
    border:rgb(16, 50, 54);
    background: linear-gradient(#6d586d, #38595f);
}

@media (max-width: 700px) {
    .form-body {
        width: 90%;
        margin-left: 20px;
        margin-right: 0;
    }

    .form-body input {
        width: 100%;
    }

    .form-body button {
        width:40%;
    }
}